#footer {
  position: fixed;
  z-index: 5;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #1D1D1D;
  margin-top: 100px;
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-items: center;
}

#footerIcons {
  float: right;
  display: flex;
  justify-content: center;
  gap: 25px;
}
#footerIcons:nth-child(1) {
  margin-right: 15px;
}

.footerIcon {
  width: 30px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  z-index: 3;
  padding: 5px;
  border-radius: 5px;
  border-color: rgba(237, 237, 237, 0.25);
  transition: all 0.2s ease-in;
}
.footerIcon:hover {
  background-color: rgba(237, 237, 237, 0.15);
  border-color: #ededed;
  border-width: 1px;
}